/*======== LISTING DETAIL STYLING HERE *========*/
.ListingDetail {
  min-width: 320px;
  max-width: 720px;
  width: 100%;
  border: 1px dashed red;
}

.listing-profile-div {
  width: 100%;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px dashed purple;
}

.listing-visuals-div {
  display: flex;
  flex-direction: row;
  margin: 5px;
  width: 100%;

  height: auto;
  border: 1px dashed blue;
}

.google-map-mini {
  margin: 5px;
  width: 50%;
  height: 290px;
  border: 1px dashed green;
}

.listing-photo-div {
  width: 50%;
  height: auto;
  border: 1px dashed purple;
}

.listing-info-div {
  margin: 5px;
  width: 100%;
  border: 1px dashed blue;
  height: auto;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.availability-card-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 1px dashed green;
}

.reserve-btn {
  width: 200px;
  height: 75x;
  font-size: 25px;
}

.other-listings-div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: center;
  align-items: center;
  border: 1px dashed purple;
}

.other-listings-card {
  margin: 10px;
  width: 150px;
  height: 150px;
  border: 1px dashed green;
}

.comments-div {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed purple;
}

.comments-card {
  margin: 5px;
  width: 90%;
  height: 30px;
  border: 1px dashed green;
  text-align: center;
}

.banner-text-item input,
.banner-text-item > .search-input-bar,
.banner-text-item .date,
.banner-text-item .book {
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 18px;
  font-family: Roboto;
  border-radius: 5px;
  outline: 0;
  border: none;
  text-align: center;
}
